{{!-- Simulacrum Sidebar Chat Log Template - EXACT FoundryVTT Structure --}}
<div class="chat-scroll" data-application-part="log">
  <ol class="chat-log plain themed theme-light">
    {{#each messages}}
    {{> "modules/simulacrum/templates/simulacrum/message.hbs" this}}
    {{/each}}

    {{!-- Process status shown inline in chat log while agent is working --}}
    {{#if processActive}}
    <li class="chat-message message flexcol process-status-message">
      <div class="message-content">
        <div class="process-status">
          <i class="fa-solid fa-circle-notch fa-spin simulacrum-process-spinner"></i>
          <span class="label">{{processLabel}}</span>
        </div>
      </div>
    </li>
    {{/if}}
  </ol>
</div>