<div class="chat-content">
    <div class="chat-message-tab-container">
        <div class="chat-message-tab">
            <span class="chat-message-tab-title">{{data.title}}</span>
        </div>
    </div>
    <div class="chat-messages-container-border-horizontal"></div>
    <div class="foundry-im chat-messages-container">
        <div class="chat-messages-container-border-vertical"></div>
        <div class="chat-messages message-list chat-log">
            {{#each data.messages}}
            <div class="chat-message message flexcol {{this.cssClass}}" data-message-id="{{this._id}}">
                <header class="message-header flexrow">
                    <h4 class="message-sender">
                        {{#if this.img}}
                            {{#if ../showAvatars}}
                            <a class="avatar"><img src="{{this.img}}" alt="{{this.sender}}"></a>
                            {{/if}}
                        {{/if}}
                        <span class="name-stacked">
                            <span class="title">{{this.sender}}</span>
                            {{#if this.subtitle}}<span class="subtitle">{{this.subtitle}}</span>{{/if}}
                        </span>
                    </h4>
                    <span class="message-metadata">
                        {{#if ../showCornerText}}
                        <span class="message-corner-text">{{this.cornerText}}</span>
                        {{/if}}
                        
                        {{#unless this.isCurrentUser}}
                        <button class="message-copy-btn" title="Copy message">
                            <i class="fas fa-copy"></i>
                        </button>
                        {{/unless}}
                    </span>
                </header>
                <div class="message-content">
                    {{{this.content}}}
                </div>
            </div>
            {{/each}}
        </div>
        <div class="chat-messages-container-border-vertical"></div>
    </div>
    <div class="chat-messages-container-border-horizontal"></div>
    <div class="chat-input-container">
        <div class="chat-input editor flexrow">
            <textarea class="chat-input" placeholder="{{data.placeholder}}" rows="1"></textarea>
            <button class="button foundry-im chat-send" title="Send Message">
                <i class="{{data.sendIcon}}"></i>
            </button>
        </div>
    </div>
</div>
